Spring2/IdsFilieraAgricola/src/main/java/it/cs/unicam/ids/filiera/demo/repositories/EventoRepository.java
Spring2/IdsFilieraAgricola/src/main/java/it/cs/unicam/ids/filiera/demo/repositories/InvitoRepository.java
Spring2/IdsFilieraAgricola/src/main/java/it/cs/unicam/ids/filiera/demo/repositories/InvitoRepository.java
